[Unit]
Description=Magic Dingus UI
After=network-online.target magic-mpv.service graphical.target
Wants=network-online.target magic-mpv.service

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
WorkingDirectory=/opt/magic_dingus_box
ExecStart=/opt/magic_dingus_box/venv/bin/python -m magic_dingus_box.main
Restart=always

[Install]
# Requires X11 for --wid embedding
WantedBy=graphical.target

