[Unit]
Description=Magic Dingus mpv
After=sound.target graphical.target

[Service]
Type=simple
RuntimeDirectory=magic
Environment=DISPLAY=:0
ExecStart=/usr/bin/mpv --idle=yes --no-osc --no-osd-bar --keep-open=yes \
  --input-ipc-server=/run/magic/mpv.sock \
  --input-vo-keyboard=no --input-default-bindings=no \
  --vf=scale=720:480:force_original_aspect_ratio=increase,crop=720:480,setdar=4/3 \
  --vo=gpu --gpu-context=x11 --hwdec=auto-safe \
  --force-window=no \
  --audio-device=alsa:device=hw:0,0
Restart=on-failure

[Install]
WantedBy=multi-user.target

