[Unit]
Description=Magic Dingus mpv (Home Directory)
After=sound.target graphical.target lightdm.service
Wants=lightdm.service

[Service]
Type=simple
User=alexanderchaney
Group=alexanderchaney
RuntimeDirectory=magic
Environment=AUDIO_DEVICE=alsa/hdmi:CARD=vc4hdmi0,DEV=0
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XAUTHORITY=/var/run/lightdm/alexanderchaney/:0
# Wait for X server to be ready
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/mpv --idle=yes --no-osc --no-osd-bar --keep-open=yes \
  --no-config \
  --input-ipc-server=/run/magic/mpv.sock \
  --input-vo-keyboard=no --input-default-bindings=no \
  --vo=gpu --hwdec=auto \
  --hwdec-codecs=all \
  --gpu-context=drm \
  --force-window=no \
  --audio-device=${AUDIO_DEVICE} \
  --vd-lavc-threads=4 \
  --video-sync=audio \
  --interpolation=no \
  --profile=fast
Restart=on-failure
RestartSec=5
StartLimitInterval=200
StartLimitBurst=5

[Install]
WantedBy=graphical.target

