[Unit]
Description=Configure USB Gadget Network (usb0)
BindsTo=sys-subsystem-net-devices-usb0.device
After=sys-subsystem-net-devices-usb0.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/ip addr add 10.55.0.1/24 dev usb0
ExecStart=/sbin/ip link set usb0 up

[Install]
WantedBy=sys-subsystem-net-devices-usb0.device
